:root {
  --main-color: #37b395;
}

body {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: var(--main-color) !important;
}

main {
  min-height: 768px;
}



