:root {
  --main-color: #37b395;
}

body {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: var(--main-color) !important;
}

main {
  min-height: 768px;
}



.ul-navigation-bar a:hover {
  color: var(--main-color);
}

.ul-navigation-bar a {
  color: #000000;
  font-size: 0.8em;
  font-weight: 700;
  text-transform: uppercase;
  flex-wrap: nowrap !important;
}




.ul-navigation-bar {
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  flex-wrap: wrap;
}

.ul-navigation-bar>li {
  list-style: none;
  padding: 1.1rem 0.5rem;
  height: 100% !important;
}

.ul-navigation-bar>.dropdown {
  display: flex;
  align-items: center;
  padding: 1.225rem 0.95rem;
}

.nav-border {
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}

.ul-navigation-bar .ul-navigation-bar>li {
  list-style: none;
  padding: 1.1rem 0.5rem;
  height: 100% !important;
}

.ul-navigation-bar .dropdown:hover .dropdown-menu {
  display: block;
}

.site-logo-section>img {
  max-width: 80%;
}

.ul-navigation-bar .dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1000;
  padding: 0 !important;
  top: 60px;
  left: 0;
}

.dropdown .active .rotate-icon {
  -webkit-transition: all 150ms ease-in 0s;
  transition: all 150ms ease-in 0s;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.dropdown .dropdown-menu .dropdown-item:hover {
  background-color: var(--main-color);
  -webkit-box-shadow: none;
  box-shadow: none;
}

nav .ul-navigation-bar>li,
nav .ul-navigation-bar>li:after,
nav .ul-navigation-bar>li:before {
  transition: all .5s;
}

nav .ul-navigation-bar>li:hover {
  color: #555;
}


nav.stroke .ul-navigation-bar>li {
  position: relative;
}

nav.stroke .ul-navigation-bar>li:after {
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: var(--main-color);
  height: 4px;
}

nav.stroke .ul-navigation-bar>li:hover:after {
  width: 100%;
}

.big-logo-part img {
  height: 60px !important;
}

.big-logo-part {
  padding: 1.5rem 0.5rem;
}

.lower-nav .d-exchange-rate li {
  display: flex;
  align-items: center;
  list-style: armenian;
}

.lower-nav .forbor {
  border-bottom: 5px solid #dedede;
  margin-top: 0.5rem;
}

.article-list .forbor {
  border-bottom: 3px solid #dedede;
  margin-top: 0.5rem;
}

.lower-nav .d-exchange-rate li>p {
  margin-bottom: 0;
  font-family: "Open Sans Condensed";
  color: #b5b5b5;
  font-weight: normal;
  font-size: 14px;
  margin-right: 0.5rem;
}

.lower-nav .d-exchange-rate li>span {
  color: #333333;
  font-weight: bold;
}

.hidden-collapse {
  background-color: #ffffff;
}

.lower-nav strong {
  background-color: #ffffff;
  color: #ff1d26;
  float: left;
  font-family: "Roboto Condensed";
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
  padding: 0 30px 0 0;
  text-transform: uppercase;
}

.pinned-news .main-img>img {
  max-width: 100%;
  border-radius: 0.5rem;
  margin-top: 0.5rem;

}

.date-time {
  font-size: 12px;
  color: #ababab !important;
}

.category-title {
  margin-top: 2rem;
}

.category-title>a {
  color: var(--main-color) !important;
  font-size: 1.25rem;
  font-weight: 600;
}

.pinned-news .news-title strong {
  font-size: 43px;
  font-weight: bold;
  text-align: left;
  font-family: "Roboto Condensed";
  font-family: inherit;
  word-wrap: break-word;
}

.social-media-part {
  display: flex;
  margin-top: 4rem;
}

.social-media-part {
  display: flex;
}

.social-media-part li {
  list-style: none;
}

.social-media-part li a {
  width: 2rem;
  height: 2rem;
  background-color: #515151;
  text-align: center;
  line-height: 2rem;
  margin: 0 10px;
  display: block;
  border-radius: 1%;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.social-media-part li a .icon {
  position: relative;
  color: #fff;
  transition: .5s;
  z-index: 3;
}

.social-media-part li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.social-media-part li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
}

.social-media-part a {
  width: 2rem;
  height: 2rem;
  background-color: #212529;
}

.sharing-part .social-media-part a {
  background-color: none;
}

.social-media-part {
  margin-top: 4rem;
}

.social-media-part li a:hover:before {
  top: 0;
}

.social-media-part i {
  color: #fff !important;
}



.social-media-part li:nth-child(1) a:before {
  background: #3b5999;
}

.social-media-part li:nth-child(2) a:before {
  background: linear-gradient(to bottom, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d, #f56040, #f77737, #fcaf45, #ffdc80);
}

.social-media-part li:nth-child(3) a:before {
  background: #55acee;
}

.social-media-part li:nth-child(4) a:before {
  background: #0077b5;
}

.social-media-part li:nth-child(5) a:before {
  background: #dd4b39;
}

footer .social-media-part li:nth-child(1) a:before {
  background: #55acee;

}

footer .social-media-part li:nth-child(2) a:before {
  background: #CC0000;
}

footer .social-media-part li:nth-child(3) a:before {
  background: #0077b5;
}

footer .social-media-part li:nth-child(4) a:before {
  background: #dd4b39;
}

footer .social-media-part li:nth-child(5) a:before {
  background: red;
}

footer .social-media-part li:nth-child(6) a:before {
  background: linear-gradient(to bottom, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d, #f56040, #f77737, #fcaf45, #ffdc80);

}

.add-place {
  width: 300px;
  height: 250px;
  margin: 1rem;
  float: left;
}

.main-content {
  color: #515151;
  font-family: "Roboto";
  font-size: 16px;
  margin-bottom: 30px;
  margin-top: 16px;
}

.main-content strong {
  color: #000000;
  font-weight: bold;
  font-size: 1rem;
}

.main-content p {
  color: #515151;
  font-family: "Roboto";
  font-size: 16px;
}

.raleted-news {
  background-color: #f2f2f2;
  color: #333333;
  /* font-family: "Roboto Condensed"; */
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 3px;
  line-height: 14px;
  margin-bottom: 20px;
  padding: 10px;
  text-transform: uppercase;
}

.news-card img {
  width: 100%;
  height: 140px;
}

.news-card {
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.12);
}

.news-card>a {
  color: #333333;
  font-weight: 500;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}

.opinion-part .raleted-news {
  color: var(--main-color) !important;
}

.opinion-part input {
  color: #515151;
  font-family: "Roboto Condensed";
  font-size: 14px;
  font-weight: 300;
  border: 1px solid #dedede;
  font-weight: lighter;
  line-height: 19px;
  padding: 5px;
  width: 100%;
}

.opinion-part textarea {
  width: 100%;
  height: 150px;
  padding: 5px 10px;
  border: 1px solid #dedede;
  margin-bottom: 20px;
  color: #515151;
  font-family: "Roboto Condensed";
  font-size: 14px;
  font-weight: 300;
  border: 1px solid #dedede;
  font-weight: lighter;
  line-height: 19px;
  padding: 5px;
}

.notice-part span {
  font-size: 12px;
  text-align: right;
  margin-bottom: 20px;
}

.opinion-submit {
  background: var(--main-color);
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 5%;
}

.recapcha-part img {
  height: auto;
  width: 50%;
}

.short-description {
  color: #000000;
  font-weight: 400;
  margin-top: 0.75rem;
}

.md-title {
  font-size: 20px;
  color: #000000;
  font-weight: bold;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
}

.top-news .card img {
  max-width: 100%;
  position: relative;
}

.news-time {
  left: 5px;
  position: absolute;
  text-shadow: 1px 1px 1px #000000;
  top: 4px;
  z-index: 999;
  color: #ffffff;
}

.top-border {
  margin-top: 5rem;
  border-top: 1px solid #cacaca;
  height: 20px;
}

.small-card-title {
  color: #000000;
  font-size: 1rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}

.small-card-img>img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}

.hit-news .card {
  flex-direction: row;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.12) !important;

}

.about-us img {
  max-width: 100%;
  min-height: 50px;
}

blockquote::before {
  border-left: 5px solid #c1c1c1;
  color: #808080;
  font-family: "Times New Roman";
  font-size: 20px;
  font-style: italic;
  line-height: 120%;
  margin-bottom: 20px;

}

blockquote {
  border-left: 5px solid #c1c1c1;
  font-family: "Times New Roman";
  font-size: 20px;
  font-style: italic;
  line-height: 120%;
  margin-bottom: 20px;
  padding-left: 30px;
}

blockquote p {
  color: #808080 !important;

}

.footer-menu {
  padding: 2rem 0.25rem;
}

.footer-menu li>a {
  color: #515151;
  font-size: 0.75rem;
  padding: 0 1rem;
  border-right: 1px solid #515151;
  font-weight: inherit;
}

.footer-menu li:first-child>a {
  padding-left: 0.25rem;
}

.footer-menu li:last-child>a {
  border-right: none;
}

.footer-menu li>a {
  color: #515151;
  font-size: 0.75rem;
  padding: 0 1rem;
  border-right: 1px solid #515151;
}

.footer-menu li {
  padding: 0;
}

.ul-craousel {
  position: relative;
  height: 500px;
}


.owl-item {
  position: relative;
  height: 500px;
}

.splider-article-title {
  color: #ffffff;
  font-size: 2.5rem;
  text-shadow: 1px 0 1px rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
}

.splider-article-category {
  color: #ffffff;
  font-size: 1.75rem;
  text-shadow: 1px 0 1px rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  display: block;
  margin-bottom: 2rem;
}

.owl-carousel .owl-stage {
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px)
}


.splider-article-info {
  height: 100%;
  left: 0;
  position: absolute;
  padding: 1.5rem 0 1.5rem 3rem;
  top: 0;
  width: 65%;
  z-index: 999 !important;
}

.splider-article-info a:hover,
.pinned-article-info a:hover,
.splider-article-time:hover {
  color: #ff1d26 !important;
  border-color: #ff1d26 !important
}

.owl-carousel .pinned-articles-info {
  height: 100%;
  padding: 35px 80px 10px 90px;
  position: absolute;
  right: 0;
  top: 0;
  width: 400px;
  font-family: "Open Sans Condensed";
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  z-index: 100;

}

.pinned-category {
  font-weight: lighter;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
}

.pinned-article-info {
  margin-bottom: 1rem;
}

.pinned-article-info hr {
  color: #fff;
  opacity: 1;
  width: 33%;

}

.pinned-article-info .category-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  margin-top: 0.5rem;
}

.pinned-article-info:last-child hr {
  width: 0;
}

.olw-article {
  height: 100%;
}

.olw-article>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.olw-article::before,
.olw-article::after {
  content: '';
  position: absolute;
  width: 30%;
  /* Adjust the width of the shadow as needed */
  height: 100%;
  top: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), transparent);
  /* Shadow color and direction */
  z-index: 99;
}

.olw-article::after {
  right: 0;
  left: auto;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.8), transparent);
  /* Shadow color and direction */

}

.splider-article-time {
  color: #ffffff;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 1.5rem;
}

.time-part {
  position: absolute;
  bottom: 10%;

}

.img-part {
  height: 100%;
}

.img-part>img {
  width: 100% !important;
  height: 100%;
  object-fit: cover;
}

.article-list .card {
  flex-direction: row !important;
}

.category-name h1 {
  color: #333333;
  font-family: "Roboto Condensed";
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.sharing-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.sharing-part:hover ul {
  display: flex !important;
}
.sharing-part:hover .date-time {
  display: none !important;
}

.sharing-part>ul>li {
  padding: 0 0.4rem;
}

.sharing-part>ul>li i {
  color: #ABABAB;
}

.article-list .sharing-part:hover .like-comment {
  display: none !important;
}

footer .big-logo-part img {
  filter: grayscale(100%);
}

footer .big-logo-part:hover img {
  filter: none;
}

.hidden-md-collapse li {
  padding: 0 1rem;
}

.hidden-md-collapse .accordion-body {
  padding: 0 0.75rem;
}

.hidden-md-collapse .article-category>a {
  padding: 1rem 0 !important;
  height: 100%;
  display: block;
}

.hidden-md-collapse .nav-link {
  color: #000;
}

.accordion-button:not(.collapsed) {
  color: var(--main-color);
  background-color: #fff;
  box-shadow: none;
}

.accordion-button {
  color: #000;
}

.navbar-toggler:not(.collapsed) {
  color: var(--main-color);
}

.navbar-toggler {
  color: #000;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.sharing-part i:hover {
  color: var(--main-color);
}

@media screen and (max-width:992px) {
  .article-list .card {
    flex-direction: column !important;
  }

  .splider-article-info {
    width: 100%;
    padding-right: 1.5rem;
  }

  .img-part {
    margin-left: 0;
    margin-right: 0;
  }

  .md-title {
    font-size: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .splider-article-title {
    font-size: 1.5rem;
  }

  .splider-article-category {
    font-size: 1.25rem;
  }

  .hidden-collapse {
    position: absolute;
    top: 75px;
    right: 0;
    left: 0;
    z-index: 1030;
    border-bottom-left-radius: 1rem !important;
    border-bottom-right-radius: 1rem !important;
    padding-bottom: 1rem;
  }

}